 @font-face {
  font-family: "One Pop";
  src: url(../font/ONEMobilePOP.ttf) format(truetype);
}

@font-face {
  font-family: "One Mobile Title";
  src: url(../font/ONEMobileTitle.ttf) format(truetype);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  box-sizing: border-box;
}
#profile{
  width:1280px;
  padding:0 45px; /*1280-1190=90, 90을 2로 나누면45. 그래서 양쪽여백 45줌*/
  margin:auto;
}

/**/
#logo_box { 
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  /*가로정렬*/
  align-items: center;
  /*세로정렬*/
}

#logo_box img {
  width: 38px;
  height: 38px;
}

#logo_box h2 {
  color: #FC50A3;
  font-family: "One Pop";
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  align-items: center;
}
#profile hr{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/**/
.wrap {
  margin:auto;
  display: flex;
  gap: 28px;
} 

/*왼쪽 영역*/
.left_box {
  display: flex;
  flex-direction: column;
}
.left_box a img{
  width: 580px;
  height: 660px;
}

.left_box .comment .share{
  display: flex;
  justify-content: space-between;

}  
.left_box .comment .share .left_icon{
  display: flex;
  margin-top: 30px;
  gap: 25px
} 

.left_box .comment .share .left_icon2{
  margin-top: 30px;
}
.left_box .comment .text_t{
  margin-top: 35px;
  font-size: 20px;
  font-weight: normal;
  font-family: "Noto Sans KR";
  color: #333;
} 


/*오른쪽 영역*/
.right_box .profile_wrap a img{
  width: 180px;
  height: 180px;
}
.right_box .profile_wrap{ 
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}  
/**/
.profile_info{
  font-family: "ONE Mobile Title";
  font-size: 20px;
}
.profile_info .txt_box li p{
  color: #666;
  font-weight: 400;
}
.profile_info .txt_box li h3{
  color: #111;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 16px;
}
.profile_info .txt_box{
  display:flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom:20px;
  letter-spacing: 1px;
}
#profile .right_box .profile_info .txt_box li:first-child{
  text-align: left;
}


/**/
.profile_tell ul{
  display:flex;
  align-items: center;
  gap: 23px;
  margin-bottom: 11px;
}
.profile_tell ul li:nth-child(2){
  width: 46px;
  height: 44px;
  box-sizing: border-box;
  background: #d9d9d9;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.profile_tell ul li img{
  width:20px;
}

.mail_info li:first-child{
  font-size:17px;
}

.profile_tell li:first-child{
 width: 256px;
 height: 44px;
 box-sizing: border-box;
 background: #d9d9d9;
 border-radius: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 letter-spacing: 1px;
}
.profile_tell .tell_info li:first-child{
letter-spacing: 4px;
}

.right_box h4{
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 500;
  color: #111;
  padding-left: 26px;
  margin-bottom: 22px;
}

/*오른쪽 본문*/
.profile-card{
  display:flex;
  flex-direction: column;
  gap: 20px;
  margin-top:20px;
}
.profile-card h3{
  font-family: "ONE Mobile Title";
  font-size: 25px;
  font-weight: 400;
  color: #333;
}
.profile-card p{
  font-size: 20px;
  font-weight: 400;
  font-family: "Noto Sans KR,";
  color: #111;
}

/*학력*/
.profile-card .education{
  border: 1px solid #666 ;
  border-radius: 10px;
  width: 582px;
  height: 229px;
}
.profile-card .education > h3{
  border-bottom: 1px solid #666; 
  width: 100%;
  padding: 20px 23px;
  letter-spacing: 2px;
}
.profile-card .education p{
  line-height: 35.5px;
  letter-spacing: 2px;
  padding: 10px 23px;
}


/*자격증*/
.profile-card .license{
  border: 1px solid #666 ;
  border-radius: 10px;
  width: 582px;
  height: 161px;
}
.profile-card .license > h3{
  border-bottom: 1px solid #666; 
  width: 100%;
  padding: 20px 23px;
  letter-spacing: 2px;
}
.profile-card .license p{
  padding: 23px;
}


/*툴*/
.profile-card .tools{
  border: 1px solid #666 ;
  border-radius: 10px;
  width: 582px;
  height: 140px;
}
.profile-card .tools > h3{
  border-bottom: 1px solid #666; 
  width: 100%;
  padding: 20px 23px;
  letter-spacing: 2px;
}
.profile-card .tools a img{
  padding: 20px 23px;
}



/*untidy페이지*/
.un_pofol{
  margin-top: 200px;
}

.un_main{
  margin-top: 46px;
}
.un_main a img{
  outline: 1px solid #666;
}

.un_share{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
}
.un_share .un_left_icon{
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}

/*text*/
.text_wrap{
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}
.text_wrap p{
  font-weight: 400;
  font-size: 18px;
}

.user_text span{
display: flex;
justify-content: flex-start;
gap: 10px;
margin-top: 30px;
margin-bottom: 15px;
font-weight: 400;
font-size: 18px;
color: #111;
}
.user_text span a{
  text-decoration: none;
  color: #111;
  font-weight: 400;
  font-size: 20px;
}
.user_text span a:hover{
  color: #FC50A3;
}
.user_text h3{
  font-weight: 400;
  font-size: 18px;
}




/*뚜레쥬르*/
.tj_pofol{
  margin-top: 200px;
}

.tj_main{
  margin-top: 46px;
}
.tj_main a img{
  outline: 1px solid #666;
}

.tj_share{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
}
.tj_share .tj_left_icon{
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}

/*text*/
.text_wrap{
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}
.text_wrap p{
  font-weight: 400;
  font-size: 18px;
}

.user_text span{
display: flex;
justify-content: flex-start;
gap: 10px;
margin-top: 30px;
margin-bottom: 15px;
font-weight: 400;
font-size: 18px;
color: #111;
}
.user_text span a{
  text-decoration: none;
  color: #111;
  font-weight: 400;
  font-size: 20px;
}
.user_text span a:hover{
  color: #FC50A3;
}
.user_text h3{
  font-weight: 400;
  font-size: 18px;
}
